<header>
  <nav>
    <a href="/">Start Class AE</a>
    <ul>
      <li><a href="/teachers/login">Login</a></li>
      <li><a href="/teachers/register">Register</a></li>
      <li><a href="/teachers">Dashboard</a></li>
    </ul>
  </nav>
</header>