<header>
  <nav>
    <h1>Welcome to AcademiaEdge Teacher Dashboard</h1>
    <p>Website still in progress.</p>
    <a href="/">Link to First Page</a>
    <ul>
      <li><a href="/teachers/login">Login</a></li>
      <!--<li><a href="/teachers/register">Register</a></li>-->
      <li><a href="/teachers">Dashboard</a></li>
    </ul>
  </nav>
</header>