<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start Class AE</title>
  <style>
    .bg-imagecourses{
      padding: 180px 0;
      background: url("https://media.istockphoto.com/photos/bright-blue-defocused-blurred-motion-abstract-background-picture-id1047234038?k=6&m=1047234038&s=612x612&w=0&h=O1lP8GIn46sboZL5bnMsznd4A1tRNJ7iXm1MMVh5I5c=") no-repeat;
      height: 25%;
      background-position: center center;
      background-size: cover;
      position: relative;
    }
    
    .bg-text {
      color: white;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 80%;
      padding: 20px;
      text-align: center;
    }
    
    #header .logo h1 {
      font-size: 28px;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-weight: 700;
    }
    
    body {
      background-color: lightgrey;
    }
    
    </style>
</head>
<body>
  <!--rudimentary navbar-->
  <%- include('../partials/header.ejs') %>
  <%- body %>
</body>
</html>