<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start Class AE</title>
  <style>
    .dayofweek {
      text-align:center;
      text-decoration:underline;
      padding:20px 0px;
      border-bottom-style:solid;
      border-bottom-width:2px;
      border-bottom-color:red;
    }
    .borderR {
      text-align:center;
      border-right-color:red;
      border-right-style:solid;
      border-right-width:2px;
      padding:20px 0px;
    }
    .linkbtn button {
      height:100%;
      width:100%;
      background-color:inherit;
      font-family:inherit;
      font-size:inherit;
      border-color:transparent;
    }
    .linkbtn button:hover {
      color:white;
      background-color:black;
    }
  </style>
</head>

<body>
  <!--rudimentary navbar-->
  <%- include('../partials/header.ejs') %>
    <%- body %>
</body>

</html>