<h1>Hi <%= name %></h1>
<div>
  <div class="bg-imagecourses"> 
    <div class="bg-text">
        <h1 style = "font-size: 50px; color:white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" data-aos="zoom-in">AcademiaEdge Teacher Dashboard</h1>
    </div>
  </div>
  <section>
  
  <h1 style = "font-size: 35px; color:black; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" data-aos="zoom-in">All Links to Visit: </h1>
  <a href="https://www.google.com" target="_blank"><button class="button button1" style =  "background-color: #4CAF50; /* Green */ border: none;color: white; padding: 10px 65px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; margin: 26px 2px; transition-duration: 0.4s; cursor: pointer;">Link 1</button></a>
  
  <a href="https://www.google.com" target="_blank"><button class="button button1" style =  "background-color: #4CAF50; /* Green */ border: none;color: white; padding: 10px 65px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; margin: 26px 2px; transition-duration: 0.4s; cursor: pointer;">Link 2</button></a>
  
  <a href="https://www.google.com" target="_blank"><button class="button button1" style =  "background-color: #4CAF50; /* Green */ border: none;color: white; padding: 10px 65px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; margin: 26px 2px; transition-duration: 0.4s; cursor: pointer;">Link 3</button></a>
  
  <a href="https://www.google.com" target="_blank"><button class="button button1" style =  "background-color: #4CAF50; /* Green */ border: none;color: white; padding: 10px 65px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; margin: 26px 2px; transition-duration: 0.4s; cursor: pointer;">Link 4</button></a>
  
  <a href="https://www.google.com" target="_blank"><button class="button button1" style =  "background-color: #4CAF50; /* Green */ border: none;color: white; padding: 10px 65px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; margin: 26px 2px; transition-duration: 0.4s; cursor: pointer;">Link 5</button></a>
  
  <a href="https://www.google.com" target="_blank"><button class="button button1" style =  "background-color: #4CAF50; /* Green */ border: none;color: white; padding: 10px 65px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; margin: 26px 2px; transition-duration: 0.4s; cursor: pointer;">Link 6</button></a>
  
  <a href="https://www.google.com" target="_blank"><button class="button button1" style =  "background-color: #4CAF50; /* Green */ border: none;color: white; padding: 10px 65px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; margin: 26px 2px; transition-duration: 0.4s; cursor: pointer;">Link 7</button></a>
  
  <a href="https://www.google.com" target="_blank"><button class="button button1" style =  "background-color: #4CAF50; /* Green */ border: none;color: white; padding: 10px 65px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; margin: 26px 2px; transition-duration: 0.4s; cursor: pointer;">Link 8</button></a>
  
  <a href="https://www.google.com" target="_blank"><button class="button button1" style =  "background-color: #4CAF50; /* Green */ border: none;color: white; padding: 10px 65px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; margin: 26px 2px; transition-duration: 0.4s; cursor: pointer;">Link 9</button></a>
  
  <a href="https://www.google.com" target="_blank"><button class="button button1" style =  "background-color: #4CAF50; /* Green */ border: none;color: white; padding: 10px 65px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; margin: 26px 2px; transition-duration: 0.4s; cursor: pointer;">Link 10</button></a>
  
  </section>
</div>
<form action="teachers/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>