<h1>Hi <%= name %></h1>
<div>
  <h3>Zoom Dashboard</h3>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<form action="teachers/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>